
body{
    background-color: #C2FFD9;
    }


h1{
    color: #53B8BB;
} 

h3{
    color: #53B8BB;
}
        
        
hr{
            
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
            
    width: 5%;

    }
